name: Build CTranslate2 Wheel for Termux
on: [push, workflow_dispatch]

jobs:
  build_wheels:
    runs-on: ubuntu-24.04-arm # Используем нативный ARM64 раннер
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: 'OpenNMT/CTranslate2'
          submodules: 'recursive'

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake g++ libopenblas-dev python3-dev python3-pip

      - name: Build C++ and Wheel
        run: |
          # 1. Установка зависимостей
          pip install pybind11 cmake
          
          # 2. Сборка статической C++ библиотеки
          mkdir build && cd build
          cmake .. \
            -DWITH_MKL=OFF \
            -DWITH_CUDA=OFF \
            -DWITH_OPENBLAS=ON \
            -DOPENMP_RUNTIME=COMP \
            -DWITH_OPENMP=ON \
            -DOPENMP_LIB=gomp \
            -DCMAKE_BUILD_TYPE=Release \
            -DBUILD_SHARED_LIBS=OFF \
            -DCMAKE_POSITION_INDEPENDENT_CODE=ON

          make -j$(nproc)
          # Установка в локальную временную папку
          make install DESTDIR=$(pwd)/../install_dir
          cd ..

          # 3. Сборка Python расширения
          cd python
          # Указываем пути к нашей собранной статической либе
          export CFLAGS="-I../install_dir/usr/local/include"
          export LDFLAGS="-L../install_dir/usr/local/lib -lctranslate2 -lopenblas"
          
          # Важно: заставляем скрипт думать, что библиотека уже в системе
          python3 setup.py bdist_wheel











      - name: Upload Wheel as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ctranslate2-wheel-arm64
          path: python/dist/*.whl
